* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    width: auto;
    background-color: #1b2b3d;
}

img {
    margin-right: auto;
    margin-top: 10px;
    width: 400px;
}

header {
    background-color:rgb(19, 135, 197);
    text-align: center;
    height: 330px;
    width: auto;
    margin-left: auto;
}

h2 {
    font-size: 1rem;
}

p {
    font-size: large;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 1rem;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #2285f7;  
}

a:hover {
    color: #f3f3f3;
}

i {
    font-size: 3rem;
    margin-bottom: 1.0rem;
}


/* Estilos para navegadores desktop */
@media only screen and (min-width: 600px) {
    .links-container {
        font-size: 2rem;
        margin-top: 1px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    
    .link {
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        width: 150px;
        height: 150px;
    }
    
    .link a {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        color: #2285f7;
        font-weight: bold;
    }
    .link a:hover {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #f3f3f3;
    }
    
    footer{
        font-size: 1em;
    }
}
  
  /* Estilos para smartfones */
  @media only screen and (max-width: 600px) {
    .links-container {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 1em;
      margin-top: auto;
      margin-bottom: 40vh;
      display: block;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .link {
      margin: 6px;
      padding: 6px;
      background-color: #156ccadc;
      border-radius: 5px;
      box-shadow: 2px 2px 5px 1px #127bb4;
      text-align: center;
      width: 100%;
    }   
    .link a {
      text-decoration: none;
      color: #282828;
      font-weight: bold;
    }
    .link a:hover {
      color: #f3f3f3;
    }
    main {
      margin-bottom: 230px;
    }
    img {
      margin-right: auto;
      margin-top: 10px;
      width: 300px; 
    }
    header{
      width: auto;
      border-radius: 0px 0px 10px 10px;
    }
}
footer {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-color: #1b2b3d;
     text-align: center;
     color: #ffffff;
     padding: 12px;
     display: block;
}
