* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img {
    margin-right: auto;
    margin-top: 20px;
    width: 500px;
}

header {
    background-color:rgb(19, 135, 197);
    text-align: center;
    height: 450px;
    width: auto;
    margin-left: auto;
}

h2 {
    font-size: 1rem;
}

p {
    font-size: large;
}

main {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 1rem;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #2285f7;  
}

a:hover {
    color: #f3f3f3;
}

i {
    font-size: 3rem;
    margin-bottom: 1.0rem;
}


/* Estilos para navegadores desktop */
@media only screen and (min-width: 600px) {
    .links-container {
        font-size: 2rem;
        margin-top: 80px;
        display: flex;
        justify-content: center;
    }
    
    .link {
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        width: 200px;
        height: 200px;
    }
    
    .link a {
        text-decoration: none;
        color: #050505;
        font-weight: bold;
    }
    .link a:hover {
        color: #0065fc;
    }
    
    footer{
        font-size: 1em;
    }

}
  
  /* Estilos para smartfones */
  @media only screen and (max-width: 600px) {
    .links-container {
      font-size: 1em;
      margin-top: 6px;
      display: block;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    main {
        margin-top: 20px;
        margin-bottom: 4px;
      }
    .link {
      margin: 6px;
      padding: auto;
      background-color:#242525;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 0px #242525;
      text-align: center;
      width: 70%;
    }   
    .link a {
      text-decoration: none;
      color: #cfd0d1;
      font-weight: bold;
    }
   
    .link a:hover {
      color: #0483ebe3;
    }
    
    img {
      margin-right: auto;
      margin-top: 60px;
      width: 300px; 
    }
    header{
      width: auto;
      height: 300px;
      border-radius: 0px 0px 1px 1px;
    }
}
footer {
     background-image: url(imagens/headerp.jpg);
     text-align: center;
     color: #ffffff;
     padding: 10px;
     margin-top: 60px;
}
